# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [10]:
# 1
set_num = set(range(1,11))
print(set_num)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [11]:
#2
set_num.add(11)
set_num.remove(1)
print(set_num)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [25]:
# 3
set_A = set(range(1,5))
set_B = set(range(2,11,2))
print(set_A)
print(set_B)
print(f"Union: {set_A | set_B}")
print(f"Intersection: {set_A & set_B}")
print(f"Difference: {set_A - set_B}")
print(f"symmetric difference: {set_A ^ set_B}")

{1, 2, 3, 4}
{2, 4, 6, 8, 10}
Union: {1, 2, 3, 4, 6, 8, 10}
Intersection: {2, 4}
Difference: {1, 3}
symmetric difference: {1, 3, 6, 8, 10}

In [30]:
# 4
A = {x**2 for x in range(1,11)}
sorted_A= sorted(A)
print(sorted_A)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
# 5
even = {x for x in set_num if x%2==0}
print(even)

{2, 4, 6, 8, 10}

In [37]:
# 6 
s = { 1,2,3,23,4,1,2,3,5,4,6,23,8,6,98,89,98,76,56,76,56}
unique = set(s)
sorted_unique = sorted(unique)
print(sorted_unique)

[1, 2, 3, 4, 5, 6, 8, 23, 56, 76, 89, 98]

In [42]:
# 7
A = { x for x in range(1,6)}
B = {x for x in range(1,4)}
print(f"If B is subset of A? {B.issubset(A)}")
print(f"Is A is superset of B?{A.issuperset(B)}")

If B is subset of A? True
Is A is superset of B?True

In [47]:
# 8
new = frozenset(range(1,6))
print(new)

frozenset({1, 2, 3, 4, 5})

In [50]:
#9 
s1 = set(range(1,6))
s1_list = list(s1)
s1_list.append(6)
final_s1 = set(s1_list)
print(final_s1)

{1, 2, 3, 4, 5, 6}

In [52]:
# 10 
m = {
    frozenset({1,4}): 3,
    frozenset({2,8}): 9,
    frozenset({4,7}): 2
    
}
print(m)

{frozenset({1, 4}): 3, frozenset({8, 2}): 9, frozenset({4, 7}): 2}

In [55]:
# 11
j = set(range(6))
for ele in j:
    print(ele)

0
1
2
3
4
5

In [53]:
# 12 
pop = set(range(1,10))
for i in range(1,10):
    pop.remove(i)
print(pop)

set()

In [61]:
# 13
fs = {1,2,3,4,5,3,4,5,2,3,9}
ss = {4,5,6,7,8,9,6}
fs.symmetric_difference_update(ss)
print(fs)

{1, 2, 3, 6, 7, 8}

In [64]:
# 14
h = set(range(2,100,9))
print(11 in h)
h.__contains__(11)

True

True

In [66]:
# 15
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}