# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
# 1
tup = tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
# 2 
print(tup[0])
print(tup[5])
print(tup[9])

1
6
10

In [16]:
# 3
print(tup[0:3])
print(tup[-3:])
print(tup[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [44]:
# 4 
mat_tup = (
    (1,2,3),
    (4,5,6),
    (6,7,8)
)
print("Matrix:")
for ele in mat_tup:
    print(ele)
print(mat_tup[1][2]) # accessing matrix element

Matrix:
(1, 2, 3)
(4, 5, 6)
(6, 7, 8)
6

In [23]:
# 5
tup1 = (1,2,3)
tup2 = (4,5,6)
print(tup1+tup2)

(1, 2, 3, 4, 5, 6)

In [32]:
# 6
rt = (1,2,3,2,3,4,9,3,2)
print(f"Occurence of 2 is {rt.count(2)} times")
print(f"Index of first occurence of 2 is {rt.index(2)}")

Occurence of 2 is 3 times
Index of first occurence of 2 is 1

In [33]:
# 7 
mytup = (1,2,3,4,5,6)
a, b, c, d, e, f = mytup
print(a, b, c, d, e, f)

1 2 3 4 5 6

In [41]:
# 8 
lst = list(range(1,6))
lt = tuple(lst)
print(lt)

(1, 2, 3, 4, 5)

In [42]:
# 9
tot = ((1,2,3),(4,5,6),(4,4,5))
print(tot)

((1, 2, 3), (4, 5, 6), (4, 4, 5))

In [52]:
# 10 
tup_1 = tuple(range(1,6))
lst = list(tup_1)
lst.append(6)
tp = tuple(lst)
print(tp)

(1, 2, 3, 4, 5, 6)

In [54]:
# 11
string = "Manish"
tps = tuple(string)
joined_str = ''.join(string)
print(joined_str)

Manish

In [58]:
# 12
td = {
    (1,2):3,
    (9,3):4,
    (5,4):5
}
print(td)

{(1, 2): 3, (9, 3): 4, (5, 4): 5}

In [60]:
# 13 
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for ele in nested_tpl:
    for elem in ele:
        print(elem)

1
2
3
4
5
6
7
8
9

In [62]:
# 14
dt = (1,2,3,4,5,4,5,3,5,32,392,4,5,2)
dt_unique = set(dt)
sorted_dt = sorted(dt_unique)
print(sorted_dt)

[1, 2, 3, 4, 5, 32, 392]

In [74]:
# 15

def minimum(tm):
    return min(tm)
def maximum(tm):
    return max(tm)
def sum_tuple(tm):
    return sum(tm)
sample_tuple = (292,39,2923,1294,201,20,1922,29)
print(f"The minimum element of sample tuple is:{minimum(sample_tuple)}")
print(f"The maximum element of sample tuple is: {maximum(sample_tuple)}")
print(f"The sum of all elements of the sample tuple is: {sum_tuple(sample_tuple)}")

The minimum element of sample tuple is:20
The maximum element of sample tuple is: 2923
The sum of all elements of the sample tuple is: 6720